__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.env
.DS_Store
aws-free-tier-setup.md
data/databento/mnq/ohlcv_1m/raw/condition.json
data/databento/mnq/ohlcv_1m/raw/GLBX-20251225-6W4SERCBRW.zip
data/databento/mnq/ohlcv_1m/raw/glbx-mdp3-20190414-20251222.ohlcv-1m.dbn.zst
data/databento/mnq/ohlcv_1m/raw/manifest.json
data/databento/mnq/ohlcv_1m/raw/metadata.json
data/databento/mnq/ohlcv_1m/raw/symbology.json
data/databento/nq/ohlcv_1m/raw/GLBX-20251225-CAH8Q73R7C.zip
data/databento/nq/ohlcv_1m/raw/condition.json
data/databento/nq/ohlcv_1m/raw/glbx-mdp3-20100606-20251224.ohlcv-1m.dbn.zst
data/databento/nq/ohlcv_1m/raw/manifest.json
data/databento/nq/ohlcv_1m/raw/metadata.json
data/databento/nq/ohlcv_1m/raw/symbology.json
bias_forensic_TV_2025-12-01_1840_1925.txt
bias_tri_forensic_TV_1855_1915_PROVEN.txt
phase_c_forensic_window_TV_2025-12-01_1840_1925.txt
phase_c_forensic_window_TV_2025-12-01_1840_1925_CLEAN.txt
phase_c_forensic_window_TV_2025-12-01_1840_1925_CLEAN2.txt
phase_c_forensic_window_TV_2025-12-01_1840_1925_CLEAN3.txt
phase_c_stage2_audit_clean_TVday_2025-12-01.txt
phase_c_stage2_audit_clean_TVday_2025-12-10.txt
phase_c_stage2_timestamp_diagnosis_TVday_2025-12-01.txt
phase_c_stage2_triangle_audit_TV_UTC-5_2025-12-02.txt
phase_c_stage2_triangle_audit_TVday_2025-12-01.txt
tv_window_forensic_2025-12-01_1855_1915_FIXED.txt
tv_window_forensic_2025-12-01_1855_1916_FRESH.txt
tv_window_forensic_2025-12-01_1855_1916_STRICT.txt
tv_window_forensic_2025-12-01_1855_1915.txt
